---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Title from "@/components/Title.astro";
import Skills from "@/components/Skills.astro";
import Services from "@/components/Services.astro";
---

<Layout title="Lucas Gonzalez FrontEnd Developer">
  <main
    class="w-full flex flex-col gap-10 items-center max-w-5xl px-5 xl:max-w-7xl mt-[5.5rem] mx-auto"
  >
    <h1 class="hidden">Lucas Gonzalez FrontEnd Developer</h1>
    <Hero />

    <Title id="work" title="My Experience" subtitle="Where I worked" />
    <Experience />
    <Title id="services" title="Services" subtitle="What I provide" />
    <Services />
    <Title id="skills" title="Skills" subtitle="What I know" />
    <Skills />
  </main>
</Layout>
