---
interface Props {
  title: string;
  subtitle: string;
  items: string[];
}

const { title, subtitle, items } = Astro.props;
---

<div
  class="row-span-1 col-span-8 lg:row-span-2 lg:col-span-3
  rounded-3xl border-2 border-purple-primary overflow-hidden
  relative flex flex-col py-14 items-center
  bg-gradient-to-b from-purple-primary/10 to-purple-secundary/40"
>
  <div class="flex flex-col items-center text-center px-8">
    <h3 class="text-2xl text-[#e3ecf6] font-medium">
      {title}
    </h3>

    <p class="text-[#e3ecf6] mt-4 text-lg opacity-80">
      {subtitle}
    </p>
  </div>

  <ul class="mt-6 flex flex-col gap-3 text-[#e3ecf6] px-10 text-base">
    {items.map((item) => <li class="list-disc list-inside">{item}</li>)}
  </ul>
</div>
