<section
  class="w-full grid auto-rows-[300px] lg:auto-rows-[160px] lg:grid-cols-9 gap-4 mx-auto pb-20"
>
  <div
    class="row-span-1 col-span-8 lg:row-span-2 lg:col-span-3 rounded-3xl border-2 border-purple-primary overflow-hidden relative flex flex-col py-14 items-center bg-gradient-to-b from-purple-primary/10 to-purple-secundary/40"
  >
    <div class="flex flex-col items-center">
      <h3
        class="text-center text-2xl text-[#e3ecf6] leading-5 mt-2 z-[1] font-medium"
      >
        UX/UI Design
      </h3>
    </div>
    <p class="text-[#e3ecf6] mx-10 my-5 text-center text-xl">
      Unlock the potential of your digital presence with our tailored solutions,
      crafted to elevate user experiences and drive engagement.
    </p>
  </div>
  <div
    class="row-span-1 col-span-8 lg:row-span-2 lg:col-span-3 rounded-3xl overflow-hidden border-2 border-purple-primary relative flex flex-col py-14 items-center bg-gradient-to-b from-purple-primary/10 to-purple-secundary/40"
  >
    <div class="flex flex-col items-center">
      <h3
        class="text-center text-2xl text-[#e3ecf6] leading-5 mt-2 z-[1] font-medium"
      >
        Web Design
      </h3>
    </div>
    <p class="text-[#e3ecf6] mx-10 my-5 text-center text-lg">
      Elevating digital experiences through innovative web design solutions,
      backed by over two years of expertise.
    </p>
  </div>
  <div
    class="row-span-1 col-span-8 lg:row-span-2 lg:col-span-3 border-2 border-purple-primary rounded-3xl overflow-hidden relative flex flex-col py-14 items-center bg-gradient-to-b from-purple-primary/10 to-purple-secundary/40"
  >
    <div class="flex flex-col items-center">
      <h3
        class="text-center text-2xl text-[#e3ecf6] leading-5 mt-2 z-[1] font-medium"
      >
        Branding
      </h3>
    </div>
    <p class="text-[#e3ecf6] mx-10 my-5 text-center text-lg">
      Crafting compelling brand identities tailored to your vision, with a
      commitment to excellence and a passion for creative innovation.
    </p>
  </div>
</section>
