---
import Card from "./Card.astro";
import { services } from "@/data/services.js";
---

<section>
  <div class="w-full grid lg:auto-rows-fr lg:grid-cols-9 gap-4 mx-auto pb-20">
    {services.map((service) => <Card {...service} />)}
  </div>

  <p class="mt-2 text-sm text-gray-400 text-center max-w-2xl mx-auto">
    I prioritize clarity, structure and long-term maintainability in every
    product I build.
  </p>
</section>
