<section
  class="w-full h-[450px] sm:h-[300px] lg:h-[250px] xl:h-40 max-w-5xl xl:max-w-7xl text-base"
>
  <div
    class="w-full h-full relative flex flex-wrap border-2 border-purple-primary bg-gradient-to-t from-purple-primary/10 to-purple-secundary/40 rounded-3xl items-center justify-between sm:px-2 overflow-hidden"
  >
    <div class="w-full flex items-center justify-center overflow-hidden">
      <ul
        class="flex flex-wrap items-center justify-center [&_li]:mx-8 [&_img]:max-w-none py-10"
      >
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
            alt="HTML5"
            title="HTML5"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
            alt="CSS3"
            title="CSS3"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg"
            alt="JavaScript"
            title="JavaScript"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg"
            alt="TypeScript"
            title="TypeScript"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="framer.png"
            alt="Framer motion"
            title="Framer Motion"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
            alt="React"
            title="React"
          />
        </li>

        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://www.svgrepo.com/show/354113/nextjs-icon.svg"
            alt="Next.js"
            title="Next.js"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Vitejs-logo.svg"
            alt="Vite"
            title="Vite"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="/tailwind-logo.png"
            alt="Tailwind CSS"
            title="Tailwind CSS"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="Astro.svg"
            alt="Astro"
            title="Astro"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="w-full lg:h-[200px] xl:h-40 max-w-5xl xl:max-w-2xl text-base">
  <div
    class="w-full h-full relative flex flex-wrap border-2 border-purple-primary bg-gradient-to-t from-purple-primary/10 to-purple-secundary/40 rounded-3xl items-center justify-between px-10 overflow-hidden"
  >
    <div class="w-full flex items-center justify-center overflow-hidden">
      <ul
        class="flex flex-wrap items-center justify-center [&_li]:mx-8 [&_img]:max-w-none"
      >
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://www.svgrepo.com/show/452202/figma.svg"
            alt="Figma"
            title="Figma"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://www.svgrepo.com/show/303184/adobe-illustrator-cc-logo.svg"
            alt="Adobe Illustrator"
            title="Adobe Illustrator"
          />
        </li>
        <li class="mx-8 my-4">
          <img
            class="w-14 h-14 object-fill"
            src="https://www.svgrepo.com/show/303177/photoshop-cc-logo.svg"
            alt="Adobe Photoshop"
            title="Adobe Photoshop"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
