---
// src/layouts/Layout.astro

import BgSite from "@/components/BgSite.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import NoiseBg from "@/components/NoiseBg.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I'm a frontend developer with extensive expertise in JavaScript, HTML, and CSS, proficient in utilizing Next.js, TypeScript, React.js, Tailwind CSS, and Astro. Passionate about design and functionality, I focus on crafting dynamic and efficient web experiences. With a mastery of TypeScript and adeptness in design optimization using Tailwind CSS, I ensure high-quality, performant outcomes. Discover how I can elevate your project to the next level."
    />
    <meta
      name="keywords"
      content="Frontend developer, JavaScript, HTML, CSS, Next.js, TypeScript, React.js, Tailwind CSS, Astro, Web development, Dynamic web design, Frontend optimization, Performance optimization"
    />
    <meta
      property="og:image"
      content="https://media.licdn.com/dms/image/C5603AQEooMS9fwGkbQ/profile-displayphoto-shrink_800_800/0/1623685496432?e=1715817600&v=beta&t=T1DUzbHfY1obf6ZM1idAB01fGc-oOpxQnHLfaNPO-RM"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9DXS85MZKZ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-9DXS85MZKZ");
    </script>
  </head>
  <body class="bg-primary-black">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  * {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(157, 0, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 0, 255, 0.7);
  }

  body {
    position: relative;

    overflow-x: hidden;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background:
      radial-gradient(
        circle at 50% 20%,
        rgba(157, 0, 255, 0.15),
        transparent 50%
      ),
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);

    background-size:
      auto,
      60px 60px,
      60px 60px;
    animation: moveGrid 60s linear infinite;
  }

  @keyframes moveGrid {
    from {
      background-position:
        0 0,
        0 0;
    }
    to {
      background-position:
        60px 60px,
        60px 60px;
    }
  }

  .text__glowing:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 120px #fff;
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }

  .hero-gradient {
    background: linear-gradient(
      135deg,
      rgba(55, 33, 102, 0.95) 0%,
      rgba(90, 62, 166, 0.5) 5%,
      rgba(123, 95, 201, 0.3) 100%
    );
  }
</style>
